.minus
{
background-color: blue;
width: 25px;
height: 25px
}
.minus:hover
{
cursor: pointer;
}
.plus
{
background-color: red;
width: 25px;
height: 25px
}
.plus:hover
{
cursor: pointer;
}
tr td
{
border: 2px solid black;
}
